* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 20px;
}
body {
  background-color: #fafafa;
}
/* Header */
.header-wrapper {
  background-color: #fff;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 23px;
  padding-bottom: 23px;
}
.header-rigtht-btn {
  display: flex;
  gap: 8px;
  align-items: center;
  background-color: white;
  padding: 10px 10px;
  border: none;
  cursor: pointer;
}
.header-rigtht-btn:hover {
  background-color: #efefef;
  padding: 10px 10px;
  border-radius: 10px;
}
/* Header Bottom */
.header-botom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 50px;
}
.header-botom-left {
  position: relative;
}
.header-botom-left-input {
  width: 380px;
  padding: 18px 45px 18px 10px;
  border-radius: 10px;
  border: none;
  box-shadow: 0px 2px 9px 0px #0000000e;
}
.header-botom-left-btn {
  position: absolute;
  top: 18px;
  right: 20px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.header-botom-right-select {
  padding: 17px 74px 17px 14px;
  border: none;
  border-radius: 8px;
  box-shadow: 0px 2px 9px 0px #0000000e;
}
/* Hero */
.hero {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 61px;
  margin-bottom: 50px;
}
.one-product {
  box-shadow: 0px 0px 7px 2px #00000008;
  border-radius: 10px;
  cursor: pointer;
  width: 264px;
  background-color: #fff;
  height: 100%;
}
.one-product:hover {
  transition: all 0.2s linear;
  transform: scale(1.05);
}
.one-product-top-img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 100%;
}
.one-product-bottom {
  padding: 24px 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.title {
  font-size: 22px;
}
.box {
  text-align: center;
}
.box p {
  font-size: 28px;
}
#all {
  padding: 17px 64px;
  border: none;
  border-radius: 8px;
  background-color: #fff;
  cursor: pointer;
  box-shadow: 0px 2px 9px 0px #0000000e;
}
#all:active {
  background-color: #e8f0fe;
}
@media only screen and (max-width: 666px) {
  .header-botom {
    flex-direction: column;
    gap: 54px;
    align-items: start;
  }
  #inp {
    width: 300px;
  }

  .box img {
    width: 100%;
  }
}
